<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<style>
    body{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        padding: 0 auto;
        background-color: rgb(247, 238, 223);
        user-select: none;
    }
    div{
        display: flex;
        flex-direction: column;
        padding: 10px 50px;
        border: 10px solid;
        border-image-slice: 80;
        border-width: 5px;
        border-image-source: linear-gradient(to right bottom, #743ad5, #FD8042);
        border-radius: 2px;
    }
    h1{
        font-size: 350px;
        color: rgb(142, 46, 252);
        
        margin: 0 auto;
    }
    p{
        text-align: center;
        font-size: 35px;
        color: rgb(117, 117, 117);
    }
</style>
<body>
    <div>
        <h1>500</h1>
        <p>Oops! Something went wrong</p>
    </div>
</body>
</html>