<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <title>H.O.M | Home</title>
    </head>
    <body>
        <!--        HEADER            -->
        <header class="header">
            <!--        LOGO            -->
            <header class="logo">
                <img src="./images/logo.png" alt="Dumbbell">
                <h2>H.O.M</h2>
            </header>
            <!--        NAV BAR            -->
            <nav class="navbar">
                <ul>
                    <li id="home" class="home"><a href="/">Home</a></li>
                    <% if(login) { %>
                        <li id="myAccount" class="myAccount"><a href="/myAccount">Signup</a></li>
                    <% } else{ %>
                        <li id="login" class="login"><a href="/login">login</a></li>
                        <li id="signup" class="signup"><a href="/signup">Signup</a></li>
                    <% } %>
                </ul>
            </nav>
        </header>
        <!--        MAIN BODY           -->
        <div class="mainBody">
            <h2>Success usually comes to those who are too busy to be looking for it.</h2>
        </div>
        <!--        OFFER AREA            -->
        <div class="offerArea">
            <header>OFFERS</header>
            <!--        PREVIOUS COLUMN         -->
            <div class="previousCol">
                <button id="previous" class="previous" type="button">
                    <div></div>
                </button>
            </div>
            <!--        OFFERS          -->
            <div id="offers" class="offers">
                <div data-offer-id="" id="offer1" class="offer left">
                    <header>6 Months</header>
                    <section>
                        <article>
                            <h3>Days</h3>
                            <p>2 days aweek</p>
                        </article>
                        <article>
                            <h3>Classes</h3>
                            <p>2 classes aweek</p>
                        </article>
                        <article>
                            <h3>Nutrition</h3>
                            <p>Healthy Recipes</p>
                        </article>
                    </section>
                    <p>100 <span>150</span></p>
                </div>
                <div data-offer-id="" id="offer1" class="offer mid">
                    <header>6 Months</header>
                    <section>
                        <article>
                            <h3>Days</h3>
                            <p>2 days aweek</p>
                        </article>
                        <article>
                            <h3>Classes</h3>
                            <p>2 classes aweek</p>
                        </article>
                        <article>
                            <h3>Nutrition</h3>
                            <p>Healthy Recipes</p>
                        </article>
                    </section>
                    <p>100 <span>150</span></p>
                </div>
                <div data-offer-id="" id="offer1" class="offer right">
                    <header>6 Months</header>
                    <section>
                        <article>
                            <h3>Days</h3>
                            <p>2 days aweek</p>
                        </article>
                        <article>
                            <h3>Classes</h3>
                            <p>2 classes aweek</p>
                        </article>
                        <article>
                            <h3>Nutrition</h3>
                            <p>Healthy Recipes</p>
                        </article>
                    </section>
                    <p>100 <span>150</span></p>
                </div>
            </div>
            <!--        NEXT COLUMN         -->
            <div class="nextCol">
                <button id="next" class="next" type="button">
                    <div></div>
                </button>
            </div>
        </div>
        <!--        FOOTER           -->
        <footer>
            <!--        LOGO          -->
            <div class="logoCol">
                <img src="/images/logo.png" alt="Dumbbell">
            </div>
            <!--        SOCIAL MEDIA           -->
            <div class="followCol">
                <h2>Follow us</h2>
                <a href="#"><img src="/images/Social/facebook.png" alt="Facebook"></a>
                <a href="#"><img src="/images/Social/instagram.png" alt="Instagram"></a>
                <a href="#"><img src="/images/Social/whatsapp.png" alt="Whatsapp"></a>
                <a href="#"><img src="/images/Social/twitter.png" alt="twitter"></a>
            </div>
            <!--        ABOUT US           -->
            <div class="aboutCol">
                <h2>About us</h2>
                <p>Phone Number: <span>01063985385</span> </p>
                <p>Contact us:<span>ehom@hotmail.com</span></p>
            </div>
        </footer>
    </body>
</html>