<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
        <link rel="stylesheet" href="/stylesheets/login.css">
        <title>H.O.M | Login</title>
    </head>
<div>
    
</div>
    <body>
        <!--        HEADER            -->
        <header class="header">
            <!--        LOGO            -->
            <header class="logo">
                <img src="/images/logo.png" alt="Dumbbell">
                <h2>H.O.M</h2>
            </header>
            <!--        NAV BAR            -->
            <nav class="navbar">
                <ul>
                    <li id="home" class="home"><a href="/">Home</a></li>
                    <li id="signup" class="signup"><a href="/signup">Signup</a></li>
                </ul>
            </nav>
        </header>
        <!--        MAIN BODY           -->
        <div class="mainBody">
            <form name="loginform" class="loginform" action="/login" method="POST">
                <label for="username">Username</label><br>
                <input type="text" id="username" name="username" placeholder="Username"><br>
                <label for="password">Password</label><br>
                <div class="password">
                    <input type="password" id="password" name="password" placeholder="Password"/>
                    <div id="privacy" class="privacy private" ></div>
                </div>
                <% if(errors != "") { %>
                    <% errors.forEach((item) => { %>
                        <div class="alert">
                            <%- item %>
                        </div>
                    <% }); %>
                <% } %>
                <p>If you don`t have account yet, <a href="/signup">Sign up</a></p>
                <input type="submit" value="Login">
            </form>
        </div>
        <!--        FOOTER           -->
        <footer>
            <!--        LOGO          -->
            <div class="logoCol">
                <img src="./images/logo.png" alt="Dumbbell">
            </div>
            <!--        SOCIAL MEDIA           -->
            <div class="followCol">
                <h2>Follow us</h2>
                <a href="#"><img src="/images/Social/facebook.png" alt="Facebook"></a>
                <a href="#"><img src="/images/Social/instagram.png" alt="Instagram"></a>
                <a href="#"><img src="/images/Social/whatsapp.png" alt="Whatsapp"></a>
                <a href="#"><img src="/images/Social/twitter.png" alt="twitter"></a>
            </div>
            <!--        ABOUT US           -->
            <div class="aboutCol">
                <h2>About us</h2>
                <p>Phone Number: <span>01063985385</span> </p>
                <p>Contact us:<span>ehom@hotmail.com</span></p>
            </div>
        </footer>

        <script type="text/javascript" src="/javascripts/login.js"></script>
    </body>
</html>
