@import url('http://fonts.cdnfonts.com/css/bruno-ace');

body{
    width: 100%;
    height: 1vh;
    margin: 0 auto;
    padding: 0 auto;
    font-family: 'raleway';
    background-color: #ffffff;
}
ul{
    list-style: none;
}
li{
    display: inline-block;
}
a{
    color: inherit;
    text-decoration: none;
}
/*           HEADER              */
.header{
    display: grid;
    grid-template-columns: repeat(2,50%);
    height: 80px;
    width: 100%;
}
    /* LOGO */
.header > .logo{
    display: flex;
    align-self: center;
    align-items: center;
    padding: 0px 0px 0px 40px;
    grid-column: 1/2;
}
.header > .logo > img{
    height: 65px;
}
.header > .logo > h2{
    display: inline-block;
    font-family: 'Bruno Ace', sans-serif;
}
    /* NAV BAR */
.header > .navbar{
    display: flex;
    justify-self: end;
    align-self: center;
    align-items: center;
    padding: 0px 60px 0px 0px;
    grid-column: 2/3;
}
.header > .navbar > ul > li{
    font-size: 25px;
    color: #FF5500;
    padding: 0px 10px 0px 10px;
}
.header > .navbar > ul > li.signup{
    color: #FF3D00;
}
/*             MAIN BODY                */
.mainBody{
    display: flex;
    position: relative;
    height: 800px;
    width: 100%;
    background-image: url(../images/background.jpeg),url(../images/grid-png-43588.png);
    background-repeat: no-repeat,repeat;
    background-position: center,center;
    background-size: cover,contain;
}
.mainBody::before{
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/grid-png-43588.png);
    opacity: .7;
    filter: blur(1px) !important;

}
.mainBody > h2 {
    width: 760px;
    font-size: 45px;
    color: #FFFFFF;
    text-shadow: 3px 1px 1px #FF5500;
    border: 10px solid;
    border-image-slice: 80;
    border-width: 5px;
    border-image-source: linear-gradient(to right bottom, #b94b14, #FD8042);
    margin: 0 auto;
    padding: 20px;
    align-self: center;
    text-align: center;
    z-index: 1;
}
/*             OFFER AREA                */
.offerArea{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 50px 750px;
    margin-top: 40px;

}
.offerArea button{
    background-color: #ffffff;

}
    /* HEADER */    
.offerArea > header{
    display: flex;
    align-self: center;
    justify-self: center;

    font-size: 30px;
    padding: 10px;
    background-color: #286DC1;
    color: white;
    border-radius: 5px;

    grid-column: 1/4;
    grid-row: 1/2;
}
    /* PREVIOUS COLUMN */
.offerArea > .previousCol{
    display: flex;
    align-self: center;
    justify-self: end;
    grid-column: 1/2;
}
.offerArea button{
    cursor: pointer;
}
.previous{
    border: 1px solid #D15A1F;
    border-radius: 10px;
}
.previous:hover{
    border: 1px solid #e07b49;
}
.previous:hover > div{
    border-right: 15px solid #e07b49; 
}
.previous > div{
    margin: 17px 17px 17px 5px;
    border: 10px solid transparent;
    border-right: 15px solid #D15A1F; 
}

    /* OFFERS */
.offerArea > .offers{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    padding: 200px;
    
    grid-column: 2/3;
}
.offer{
    height: 400px;
    width: 250px;
    border: 2px solid #C4C4C4;
    border-radius: 10px;
    margin: 40px;
    padding: 30px;
}
.offer:hover{
    border: 2px solid #FF5500;
}
.offer > header {
    font-size: 35px;
    text-align: center;
    color: #FF5500;
}
.offer article{
    border-bottom: 1px solid #858585;
}
.offer article > p{
    color: #424242;
}
.offer > p {
    font-size: 35px;
    text-align: center;
    color: #ff3300;
}
.offer > p > span {
    text-decoration: line-through;
    color: #ff0000;
}
.mid{
    border: 2px solid #C4C4C4;
    
}

    /* NEXT COLUMN */
.offerArea > .nextCol{
    display: flex;
    align-self: center;
    justify-self: start;
    grid-column: 3/4;
}
.next{
    border: 1px solid #D15A1F;
    border-radius: 10px;
}
.next:hover{
    border: 1px solid #e07b49;
}
.next:hover > div{
    border-left: 15px solid #e07b49; 
}
.next > div{
    margin: 17px 2px 17px 17px;
    border: 10px solid transparent;
    border-left: 15px solid #D15A1F; 
}
/*          FOOTER              */
footer{
    height: 200px;
    background-color: #D15A1F;
    margin-top: 40px;
    padding-bottom: 10px;

    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-items: center;
}
footer h2, footer span{
    color: white;
}
footer h2{
    font-size: 30px;
}
    /* LOGO */
footer > .logoCol{
    grid-column: 1/2;
}
footer > .logoCol > img{
    width: 170px;
}
    /* FOLLOW COLUMN */
footer > .followCol{
    grid-column: 2/3;
}

footer > .followCol img{
    width: 45px;
    margin-right: 30px;
}

    /* ABOUT COLUMN */
footer > .aboutCol{
    grid-column: 3/4;
}
footer > .aboutCol > p{
    margin: 6px;
}